/*
 * Added contents, by MrTryHard. 
 * These should fixes the forms and overuse of containers. 
 */
 /* In admin part, for forms. Represents a row.*/
 .no-form-button {
 	border:1px solid #999999;
	border-bottom-color:#cccccc;
	border-right-color:#cccccc;
	padding:5px;
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.0em;
 }
 
 .form-admin-row {
	padding: 10px;	
	margin-left: auto;
	margin-right: auto;
	width: 30em;
	border-bottom: 1px solid #ccc;
	border-collapse: collapse;
}
	/* For each input in the row, add a padding. important.. I think. */
	.form-admin-row input {
		margin-top: 5px;
		height: 30px;
	}
	.form-admin-row select {
		height: 25px;
	}
	
	.form-admin-row input[type="radio"] {
		width: auto;
		vertical-align: middle;
		margin-right: 5px;
		margin-left: 5px;
	}
	
	.form-admin-row input[type="submit"] {
		min-width: 100px;
	}
	
	/* in-row column. */
	.form-admin-row .form-admin-col {
		margin-left: auto; 
		margin-right: 1em;
		min-width: 6em;
	}
.form-admin-cell {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	min-width: 5.5em;
	max-width: 5.5em;
	border-left: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0px;
	border-spacing: 0px;
	word-wrap: break-word;
}
/* Represents form-container, to center the form */
.block-form-admin {
	margin-left: auto;
	margin-right: auto;
	/*width: 60em;*/
	background-color: rgb(248,248,248);
}
	/* For forms title. */
	.block-form-admin h3 {
		text-align:center;
		background-color:#5CB8E6;
		border-top:4px solid #376E8A;
		color:#FFFFFF;
		padding:10px;
		font-weight: bold;
		font-size: 1em;
	}
	
	.block-form-admin h4 {
		text-align:center;
		background: #0077FF;
		border-top:4px solid #376E8A;
		color:#FFFFFF;
		padding:10px;
		color: #fffff;
		font-weight: bold;
		text-align: center;
		padding-top: 5px;
	}
	/* To align content to right. Usually submit. */
	.block-form-admin .right {
		text-align:right;
	}
	/* For the labels for admin forms, so it can be 2 columns. */
	.block-form-admin label {
		width: 13em;
		margin-right: 10px;
		display: inline-block;
	}
		/* Resizes the labels content to 100% possible width. To create 
		 * "equals" controls. */
		.block-form-admin label * {
			width: 100%;
		}
/* A no-border property. Kind of useless, but used still. */
.no-border {
	border: none;
}


/* OLD CSS*/
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	background:#E6E6E6;
	background:#fff url(images/background.png) right top;
	
	margin:0px auto;
	padding: -1px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
}



/* wrapper */
div.wrapper {
	width:85%;
	margin:0px auto;
	padding:10px;
	border-right:10px solid #297ACC;	
	border-left:10px solid #297ACC;
	background-color:#ffffff;
}


/* header & nav */
/*div.header {
	padding:20px 10px 25px;
	margin:0 auto;
	background-color:#4086AA;
	border-top:4px solid #326A85;
	margin-bottom:10px;
}*/

div.header h2 {
	float:left;
	padding-top:20px;
	padding-left:10px;
	font-size:0.75em;
}
div.header h1 {
	float:left;
	padding:0;
}
div.page-content {
	padding:5px 0;
	border-top:4px solid #E6E6E6;
}
div.menu {
	/*background-color:#383838;*/
	background-color:#246BB2;
	height:65px;
	margin-bottom:20px;
}
div.menu ul {
	list-style:none;
	margin:0;
	padding:0;
}
div.menu ul li {
	float:left;
	display:block;
}
div.menu ul li a {
	color:#FFFFFF;
	display:block;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding:24px 20px 22px;
	text-transform:uppercase;
	text-decoration:none;
}
div.menu ul li a:hover {
	text-decoration:underline;
	background-color:#297ACC;
}

/* headers */
h1 {
	font-size:3.2em;
	letter-spacing:-2px;
	text-align:left;
	line-height:1.0em;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:10px;
}
h1 a, h1 a:hover, h1 a:visited {
	text-decoration:none;
	color:#FFFFFF;
	font-weight:normal;
	padding-left:10px;
}
h2 {
	color:#1D3D4E;
	font-size:1.7em;
	font-weight:normal;
	padding:0 0 10px;
	text-align:left;
	text-transform:none;
}
h3 {
	color:#222;
	font-size:1.2em;
	font-weight:bold;
	padding-bottom:10px;
}
h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.95em;
	font-weight:bold;
	padding-bottom:10px;
	color:#32698B;
	/*text-transform:uppercase;*/
}
h5 {
	padding-bottom:10px;
}
div.sidebar h4 {
	max-width: 200px;
	background-color:#5CB8E6;
	border-top:4px solid #376E8A;
	color:#FFFFFF;
	padding:10px;
}

div.table h4 {
	text-align:center;
	background-color:#5CB8E6;
	border-top:4px solid #376E8A;
	color:#FFFFFF;
	padding:10px;
}

/* element defaults */
p {
	margin-bottom:20px;
	line-height:1.9em;
	font-size:0.75em;
	font-weight:bold;
}
ul, ol {
	font-size:0.75em;
	padding:0 0 20px 35px;
	list-style:none;
}
ol { 
	list-style:decimal;
}
code {
	background-color:#666666;
	display:block;
	color:#ffffff;
	padding:10px;
	margin:10px 0;
}

/* default forms */
fieldset { 
	border:none;
	border-top:1px solid #dddddd;
	margin-top:10px;
}
fieldset legend {
	font-size:0.8em;
	color:#666;
	font-weight:bold;
	padding:3px;
	background-color:#dddddd;
}
form { }
form input, form textarea {
	border:1px solid #999999;
	border-bottom-color:#cccccc;
	border-right-color:#cccccc;
	padding:5px;
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.0em;
}
form input.formbutton {
	background:#246BB2 none repeat-x scroll bottom left;
	border:1px solid #2B5B78;
	color:#ffffff;
	font-size:0.9em;
	padding:6px 14px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

input.formbutton {
	background:#246BB2 none repeat-x scroll bottom left;
	border:1px solid #2B5B78;
	color:#ffffff;
	font-size:0.9em;
	padding:6px 14px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
/* default tables */ 
table {
	width:100.25%;
	margin-bottom:10px;
	font-size:0.75em;
	
}
table tr th, table tr td {
	padding:5px 10px; 
	height: 20px;
}
table tr th {
	background:#297ACC none repeat-x scroll bottom left;
	color:#ffffff;
	border-top:3px solid #2B5B78;
}
table tr td {
	border-bottom:1px solid #dddddd;
	height: 20px;
}



/* default links */
a, a:visited { 
	color:#4086AA;
} 
a:hover { 
	color:#2B5B78; 
}
div.sidebar a {
	color:#4086AA;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	text-decoration:none;
}
div.sidebar a:hover {
	color:#244C65;
}



/* content */
div.page-wrap {
	padding:20px;
	clear:both;
}
div.content {
	float:right;
	width:68%;
	color:#333333;
}
div.content ul {
	font-size:0.75em;
	list-style:disc;
}
div.content ul li, div.content ol li {
	padding-bottom:5px;
}
div.content li ul, div.content li ul {
	font-size:1.0em;
}

/* sidebar */
div.sidebar {
	padding-right:10px;
	float:left;
	width:30%;
	color:#999999;
	max-width: 200px;
}
div.sidebar p { 
	color:#777777;
	margin-bottom:40px;
	padding:2px;
	max-width: 200px;
}
div.sidebar ul {
	font-size:0.9em;
	margin:0 0 40px;
	padding:0px;
}
div.sidebar ul li {
	padding:0;
}
div.sidebar ul li ul {
	padding:0 2px;
}
div.sidebar ul li ul li {
	padding:10px;
	border-bottom:1px dashed #ddd;
}


/* footer */
p.footer {
	text-align:left;
	color:#fff;
	background-color:#246BB2;
	font-size:0.7em;
	padding:15px 10px;
	margin:0;
}
p.footer a {
	color:#fff;
	border-bottom:none;
	text-decoration:underline;
}

/* search form */
form.searchform {
}


/* misc classes */
*:focus {
	outline:none;
}
.clear {
	clear:both;
}

div.table h4 {
	text-align:center;
	background-color:#5CB8E6;
	border-top:4px solid #376E8A;
	color:#FFFFFF;
	padding:10px;
}

.rTable {   	display: block;  width: 90%;  } 
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{ height: 25px;  	clear: both;  } 
.rTableHead, .rTableFoot{  background:#297ACC;	color:#ffffff;   	font-weight: ; } 
.rTableCell, .rTableHead {   border-top:3px solid #2B5B78;   	float: left;   	height: 25px;   	overflow: hidden;   	padding: 3px 1.8%;   	width: 45%; } 
.rTable:after {   	visibility: hidden;   	display: block;   	font-size: 0;   	content: " ";   	clear: both;   	height: 0; }

.rTable2 {   	display: block;  width: 90%;  } 
.rTableHeading2, .rTableBody2, .rTableFoot2, .rTableRow2{ height: 25px;  	clear: both;  } 
.rTableHead2, .rTableFoot2{  background:#297ACC;	color:#ffffff;   	font-weight: ; text-align:center; } 
/*.rTableCell2 {   border-top:3px solid #2B5B78;  	float: left;   	height: 30px;   	overflow: hidden;   	padding: 3px 1.8%;   	width: 45%; }*/
.rTableCell2 {   	width:100.25%;
	margin-bottom:10px;
	font-size:0.90em; border-bottom:1px solid #dddddd;   	float: left;   	height: 30px;   	overflow: hidden;   	padding: 3px 1.8%;   	width: 45%; } 
.rTableHead2 {   border-top:3px solid #2B5B78;   	float: left;   	height: 25px;   	overflow: hidden;   	padding: 3px 1.8%;   	width: 45%; } 
.rTable2:after {   	visibility: hidden;   	display: block;   	font-size: 0;   	content: " ";   	clear: both;   	height: 0; }
.rTableHead2{   background:#297ACC;	color:#ffffff;   	font-weight: ; text-align:center; width: 93.6%; } 
.rTableFoot2{  background:#297ACC;	color:#ffffff;   	font-weight: ; width: 40%; border-top:3px solid #2B5B78;} 

.rTable3{   	display: block;  width: 90%;  } 
.rTableHeading3, .rTableBody3, .rTableFoot3, .rTableRow3{ height: 25px;  	clear: both;  } 
.rTableHead3, .rTableFoot3{  background:#297ACC;	color:#ffffff;   	font-weight: ; text-align:center; } 
/*.rTableCell2 {   border-top:3px solid #2B5B78;  	float: left;   	height: 30px;   	overflow: hidden;   	padding: 3px 1.8%;   	width: 45%; }*/
.rTableCell3 {   	width:100.25%;
	margin-bottom:10px;
	font-size:0.90em; border-bottom:1px solid #dddddd;   	float: left;   	height: 30px;   	overflow: hidden;   	padding: 3px 1.8%;   	width: 45%; } 
.rTableHead3 {   border-top:3px solid #2B5B78;   	float: left;   	height: 25px;   	overflow: hidden;   	padding: 3px 1.8%;   	width: 100%; } 
.rTable3:after {   	visibility: hidden;   	display: block;   	font-size: 0;   	content: " ";   	clear: both;   	height: 0; }
.rTableHead3{   background:#297ACC;	color:#ffffff;   	font-weight: ; text-align:center; width: 107.5%; } 
.rTableFoot3{  background:#297ACC;	color:#ffffff;   	font-weight: ; width: 40%; border-top:3px solid #2B5B78;} 



.clearfix:before,
.clearfix:after
{
	content: " ";
	display: table;
}
.clearfix:after
{
	clear: both;
}
.pull-left
{
	float: left;
}
.pull-right
{
	float: right;
}

.panel
{
	margin-bottom: 10px;
}
.panel.bottom-border
{
	border-bottom: 1px solid #ddd;
}
.panel .panel-header,
.panel .panel-footer
{
	background-color: #297acc;
	padding: 5px;
	border-top: 3px solid #2b5b78;
}
.panel .panel-header.alt,
.panel .panel-footer.alt
{
	background-color: #5CB8E6;
	border-top: 3px solid #376E8A;
}
.panel .panel-header,
.panel .panel-footer,
.panel .panel-header a,
.panel .panel-footer a
{
	color: #fff;
}
.panel .panel-header
{
	padding-bottom: 10px;
}
.panel .panel-header,
.panel .panel-footer
{
	text-align: center;
}
.panel .panel-header.nocenter,
.panel .panel-footer.nocenter
{
	text-align: start;
}

.config-panel .config-option
{
	border-top: 3px solid #2b5b78;
	padding: 10px 5px 10px 5px;
}
.config-panel .config-option .config-name
{
	width: 30%;
	float: left;
	padding-right: 5px;
	box-sizing: border-box;
}
.config-panel .config-option .config-value
{
	width: 70%;
	float: right;
}
.config-panel .config-option .config-value input[type="text"],
.config-panel .config-option .config-value input[type="password"],
.config-panel .config-option .config-value textarea
{
	box-sizing: border-box;
	width: 100%;
}
.config-panel .config-option .config-value textarea
{
	height: 4em;
}
.config-panel .panel-header,
.config-panel .panel-footer
{
	text-align: center;
}
.config-panel .panel-footer input[type="submit"],
.config-panel .panel-footer input[type="reset"]
{
	background: #246bb2;
	color: #fff;
	border: 1px solid #2b5b78;
	padding: 6px 14px;
}

/*
A bit ugly with this declaration because some labels are very long,
so they span mutiple lines (up to three).
*/
.config-panel
{
	display: inline-block;
	width: 400px;
	vertical-align: top;
}

.category-manage .panel-header a
{
	color: #fff;
}
.category-manage input[type="submit"],
.category-manage input[type="reset"],
.category-manage input[type="button"],
.category-create input[type="submit"]
{
	background: #246bb2;
	color: #fff;
	border: 1px solid #2b5b78;
	padding: 5px;
}
.category-manage,
.category-create
{
	font-size: 0.75em;
}
.category-manage .panel-header
{
	position: relative;
}
.category-manage .panel-header .category-move
{
	position: absolute;
	right: 10px;
}
.category-manage table
{
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	font-size: 1em;
}
.category-manage table tr th.forum-name,
.category-manage table tr td.forum-name
{
	width: 100%;
}
.category-manage table tr th.topic-count,
.category-manage table tr td.topic-count
{
	width: 50px;
}
.category-manage table tr th.post-count,
.category-manage table tr td.post-count
{
	width: 50px
}
.category-manage table tr th.action-buttons,
.category-manage table tr td.action-buttons
{
	width: 100px;
}
.category-manage table tr th.topic-count,
.category-manage table tr td.topic-count,
.category-manage table tr th.post-count,
.category-manage table tr td.post-count,
.category-manage table tr td.redir-count
{
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.category-manage table tr td.action-buttons,
.category-manage table tr td.post-count,
.category-manage table tr td.topic-count,
.category-manage table tr td.redir-count
{
	text-align: center;
}
.category-manage table tr td.action-buttons input[type="submit"],
.category-manage table tr td.action-buttons input[type="reset"],
.category-manage table tr td.action-buttons input[type="button"]
{
	padding: 2px;
}
.category-manage table tr td.action-buttons .button-row:first-child
{
	margin-bottom: 5px;
}
.category-manage .category-noforums
{
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}
.category-create
{
	background-color: #297acc;
	color: #fff;
	padding: 5px;
	border-top: 3px solid #2b5b78;
}

.site-wrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	background: #fff;
}
.site-header,
.site-footer .info
{
	background: #297ACC;
	padding: 10px;
}
.site-content-wrapper
{
	padding: 0px 10px 0px 10px;
}
.site-footer .info,
.site-content-wrapper
{
	margin-top: 10px;
}
.site-footer .info
{
	font-size: 0.85em;
}
.site-header,
.site-footer .info,
.site-header a,
.site-footer .info a,
.site-header a:hover,
.site-footer .info a:hover
{
	color: #fff;
}
.site-header .navlinks a
{
	text-decoration: initial;
}
.site-header .logo-name .name
{
	height: 64px;
	display: table-cell;
	vertical-align: middle;
}
.site-header .navlinks a
{
	margin-right: 10px;
}
.site-header .navlinks a:last-child
{
	margin-right: 0;
}
.site-header .logo
{
	float: left;
}
.site-header .navlinks
{
	float: right;
}
.site-footer .navlinks
{
	text-align: center;
}
.site-footer .info
{
	text-align: right;
}
.site-content-wrapper .connected-as
{
	margin-bottom: 5px;
}

.site-content > .breadcrumb
{
	margin-top: 5px;
	margin-bottom: 10px;
}

.login-panel .panel-footer,
.login-panel .links
{
	text-align: center;
}
.login-panel .links
{
	margin: 10px auto 10px auto;
}
.form-row
{
	width: 25em;
	margin-left: auto;
	margin-right: auto;
	margin: 5px auto 5px auto;
}
.form-row input,
.form-row .value-input
{
	width: 49%;
}
.form-row label
{
	width: 49%;
	display: inline-block;
	text-align: center;
}

.category-panel table
{
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	font-size: 1em;
	margin-bottom: 0px;
}
.category-panel table tr th.read-indicator,
.category-panel table tr td.read-indicator
{
	width: 50px;
}
.category-panel table tr th.forum-name,
.category-panel table tr td.forum-name
{
	width: 100%;
}
.category-panel table tr th.topic-count,
.category-panel table tr td.topic-count
{
	width: 70px;
}
.category-panel table tr th.post-count,
.category-panel table tr td.post-count
{
	width: 70px
}
.category-panel table tr th.last-post,
.category-panel table tr td.last-post
{
	width: 250px;
	text-align: center;
}
.category-panel table tr td.redir-count
{
	text-align: center;
	border-left: 1px solid #dddddd;
}
.category-panel table tr td.topic-count,
.category-panel table tr td.post-count
{
	text-align: center;
}
.category-panel table tr th.topic-count,
.category-panel table tr td.topic-count,
.category-panel table tr th.post-count,
.category-panel table tr td.post-count
{
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.category-panel table tr.forum
{
	height: 5em;
}

.forum-stats
{
	border-bottom: 1px solid #ddd;
}
.forum-stats .stat-header
{
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}
.forum-stats .stat-content
{
	margin-bottom: 10px;
}
.forum-stats .panel-header
{
	margin-bottom: 5px;
}
.forum-stats .stat-content > .pull-left > img
{
	padding: 10px 10px 0 10px;
}
.forum-stats .online-stats .rank-list
{
	margin-bottom: 3px;
}
.forum-stats .board-stats > .clearfix
{
	position: relative;
}
.forum-stats .board-stats > .clearfix > .pull-right
{
	position: absolute;
	right: 0;
	bottom: 0;
}

.index-time,
.tz-ind-bottom
{
	margin-bottom: 5px;
}
.index-site-nav
{
	position: relative;
	margin-bottom: 5px;
}
.index-site-nav > .site-name
{
	position: absolute;
	bottom: 0;
}
.index-site-nav > .site-navsearch
{
	text-align: right;
}

.login-panel-index .panel-body
{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.nav-breadcrumb
{
	margin-bottom: 5px;
}

.members-panel table
{
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	font-size: 1em;
	margin-bottom: 0px;
}
.members-panel table tr th
{
	text-align: left;
}
.members-panel table tr th.user-id,
.members-panel table tr td.user-id
{
	width: 50px;
}
.members-panel table tr th.user-name,
.members-panel table tr td.user-name
{
	width: 100%;
}
.members-panel table tr th.user-contact,
.members-panel table tr td.user-contact
{
	width: 200px;
}
.members-panel table tr th.post-count,
.members-panel table tr td.post-count
{
	width: 80px
}
.members-panel table tr th.date-joined,
.members-panel table tr td.date-joined
{
	width: 160px;
}
.members-panel table tr th.user-name,
.members-panel table tr td.user-name,
.members-panel table tr th.user-contact,
.members-panel table tr td.user-contact,
.members-panel table tr th.post-count,
.members-panel table tr td.post-count,
.members-panel table tr th.date-joined,
.members-panel table tr td.date-joined
{
	border-left: 1px solid #ddd;
}
.members-footer
{
	margin-bottom: 10px;
}

.pm-list-panel table
{
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	font-size: 1em;
	margin-bottom: 0px;
}
.pm-list-panel table tr th.read-indicator,
.pm-list-panel table tr td.read-indicator
{
	width: 50px;
}
.pm-list-panel table tr th.title,
.pm-list-panel table tr td.title
{
	width: 100%;
}
.pm-list-panel table tr th.author,
.pm-list-panel table tr td.author
{
	width: 200px;
}
.pm-list-panel table tr th.date,
.pm-list-panel table tr td.date
{
	width: 200px;
}
.pm-list-panel table tr th.actions,
.pm-list-panel table tr td.actions
{
	width: 150px;
}
.pm-list-panel table tr td.read-indicator img
{
	vertical-align: middle;
}
.pm-list-panel .no-pms
{
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.pm-menu-panel
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.pm-menu-panel .panel-body
{
	text-align: center;
}
.pm-menu-panel .panel-body a
{
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	width: 24%;
}

.smilies-panel
{
	text-align: center;
	display: inline-block;
}
.smilies-panel .smilie
{
	display: inline-block;
	margin: 2px;
}

.bbcode-editor .font-size-selector,
.bbcode-editor .font-color-selector
{
	display: inline;
}
.bbcode-editor,
.bbcode-editor .button-row
{
	margin-bottom: 5px;
}

.editor-panel .panel-header
{
	margin-bottom: 5px;
}
.editor-panel .editor-section,
.editor-panel .editor-section-desc
{
	text-align: center;
	margin-bottom: 5px;
}
.editor-panel .editor-section
{
	background-color: #297acc;
	border-top: 3px solid #2b5b78;
	color: #fff;
	padding: 5px;
}
.editor-panel .editor-section-desc
{
	padding: 2px;
	border-bottom: 1px solid #ddd;
}
.editor-panel .editor-row
{
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}
.editor-panel .editor-row .label,
.editor-panel .editor-row .value,
.editor-panel .editor-row .extra
{
	display: inline-block;
	vertical-align: top;
}
.editor-panel .editor-row .label,
.editor-panel .editor-row .extra
{
	width: 19%;
}
.editor-panel .editor-row .value
{
	width: 59%;
}
.editor-panel .editor-row .value .value-edit
{
	width: 100%;
}
.editor-panel .editor-row .extra
{
	text-align: center;
}
.pm-edit-panel .editor-row .value #pm_body,
.post-edit-panel .editor-row .value .post-body
{
	height: 10em;
}

.editor-error-panel
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.editor-error-panel .panel-body
{
	margin: 5px;
}

.pm-view-panel .panel-body .pm-body-wrapper
{
	padding-top: 5px;
}
.pm-view-panel .panel-body .user
{
	padding: 10px 5px 5px 5px;
}
.pm-view-panel .panel-body .user
{
	background: #f0f0f0;
	width: 250px;
}
.pm-view-panel .panel-body .user-display
{
	text-align: center;
}
.pm-view-panel .panel-body .pm-body-wrapper
{
	margin-left: 255px;
}
.pm-view-panel .panel-body .pm-body-wrapper .date
{
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}

